name: multiarch-container-build

on:
  pull_request:
    types:
      - opened
      - reopened
      - closed
    branches: ['master', 'develop']  # Triggers on PR to these branches

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      # QEMU enables cross-platform builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Login to GHCR
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: type=ref,enable=true,priority=600,prefix=pr-,suffix=,event=pr

      - name: Build multi-arch only if not merged
        if: github.event.pull_request.merged == false
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          # Build for both architectures
          platforms: linux/amd64,linux/arm64
          push: false
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push multi-arch if PR merged
        if: github.event.pull_request.merged == true
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          # Build for both architectures
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
